# VCS & OS
.git
.gitignore
.DS_Store

# Node & pnpm
node_modules
**/node_modules
pnpm-store
.pnpm-store
**/.pnpm-store

# Build artefacts
dist
build
**/dist
**/build
.next
**/.next

# Env & docker
.env
.env.*
docker-compose*.yml
.env
.env.*
